---
layout: default
---

<section class="header-title">
  <div>
    <p>INTRODUCING</p>
    <h1>FRUIT</h1>
    <p>Globally - The global - Efficient</p>
    <h2>The next revoultion</h2>
  </div>
  <p class="margin-p">Fruits and vegetables are the most tasty</p>
  <p class="header-p">and most healthy food in the world!</p>
  <p class="header-play">	&#9654;</p>
  <img src="" alt="">
</section>
<section>
  <h2>Its 2017 and change is needed</h2>
</section>
<section>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Nullam augue arcu, congue non bibendum eu, malesuada ut eros.
  Quisque faucibus vulputate purus a dapibus. Ut nec commodo lacus.
  Vivamus finibus est sed semper vulputate.
  Pellentesque urna dui, aliquet quis vestibulum sed, interdum quis nisl.
  Aliquam vitae nibh quis orci consequat condimentum sit amet nec diam.
</p>
<p>
  Integer tincidunt felis velit, vitae semper felis gravida eu. Ut et eros nisi.
  Nullam cursus tincidunt ex vitae faucibus. Etiam sem lacus, pulvinar et sagittis vitae, dictum in elit.
  Ut arcu odio, mattis id commodo sed, pellentesque a nibh.
  Vivamus elementum elit sem, ac aliquam est aliquam consectetur.
  Etiam vitae malesuada risus.
</p>
</section>
<section>
  <h2>Fruits are good!</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Nullam augue arcu, congue non bibendum eu, malesuada ut eros.
    Quisque faucibus vulputate purus a dapibus. Ut nec commodo lacus.
    Vivamus finibus est sed semper vulputate.
  </p>
  <h3>TYPES OF HEALTHY FOOD</h3>
  {% include imgs.html %}
  <div class="token">
    <img class="token" src="http://placehold.it/200x200">
    <h2>Fruits and Vegetables</h2>
    <div>
      <p>
        Nullam augue arcu, congue non bibendum eu, malesuada ut eros.
        Quisque faucibus vulputate purus a dapibus. Ut nec commodo lacus.
        Vivamus finibus est sed semper vulputate.
      </p>
      <img src="http://placehold.it/200x200" alt="s">
    </div>
    <p>fruits are very tasty</p>
  </div>
</section>
<section>
  <img src="http://placehold.it/100x100" alt="s">
  <h3>Fruits and Vegetables are nice</h3>
</section>
<section>
  <p>
    Nullam augue arcu, congue non bibendum eu, malesuada ut eros.
    Quisque faucibus vulputate purus a dapibus. Ut nec commodo lacus.
    Vivamus finibus est sed semper vulputate.
  </p>
  <h3>Fruits and Vegetables are nice</h3>
</section>
<section>
  <img src="http://placehold.it/300x300" alt="">
  <p>
    Nullam augue arcu, congue non bibendum eu, malesuada ut eros.
    Quisque faucibus vulputate purus a dapibus. Ut nec commodo lacus.
    Vivamus finibus est sed semper vulputate.
  </p>
</section>
{% include phases.html %}
<section>
  <h3>join the revolution</h3>
  <p>
    Nullam augue arcu, congue non bibendum eu, malesuada ut eros.
    Quisque faucibus vulputate purus a dapibus. Ut nec commodo lacus.
    Vivamus finibus est sed semper vulputate.
  </p>
</section>
<section>
  <p>say "hello" to the</p>
  <h1>fruit</h1>
  <p>some fruits</p>
  {% include about-fruit.html %}
</section>
<section>
  <h3>Fruits and Vegetables</h3>
  <h3>They have been around for years!</h3>
  <img src="http://placehold.it/300x300" alt="">
  <h3>I'd like to learn more!</h3>
  <p>learn more about fruits and vegetables</p>
  <input type="text" placeholder="please enter email">
</section>
<section>
  <ul>
    <li><a href="https://github.com/colorlessenergy"><img src="http://placehold.it/50x50" alt=""></a></li>
  </ul>
</section>
<footer>
  <p>2017 | Brian Munoz </p>
</footer>
