html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  height: 54px;
  width: 90%;
}

nav ul {
  align-items: flex-end;
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  height: 54px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: #2f6184;
  margin: 0 10px;
  text-decoration: none;
}

.button {
  border-radius: 30px;
  border: 1px solid #2f6184;
  padding: 2px;
}

.display {
  background-color: #012359;
  display: none;
  height: 100%;
  font-size: 40px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#close {
  align-self: flex-end;
}

#close p {
  margin: 0;
}

#small {
  margin: 0;
  margin-left: 97%;
}

.bottom-bg {
  align-items: center;
  background-color: #2b1c42;
  color: #5583d1;
  display: flex;
  height: 500px;
  justify-content: center;
}

.bottom-bg img {
  margin-right: 30px;
}

.bottom-bg .first {
  font-size: 22px;
  margin-top: 120px;
  margin-left: 10%;
  margin-right: 10%
}

.bg-img {
  height: 660px;
  width: 100%;
}

.bg-info {
  align-items: center;
  display: flex;
  color: #305f81;
  flex-direction: column;
  font-size: 21px;
  justify-content: center;
  margin: 10% 20%;
  text-align: center;
}

.display-health-food {
  color: #5786d6;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.display-health-food div {
  display: flex;
  justify-content: space-around;
}

.display-health-food .margin-top p, .margin-top {
  margin-top: 0;
}

.display-health-food div div {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.header-play {
  align-items: center;
  border: 1px solid;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 50px;
}

.header-title {
  align-items: center;
  color: #5583d1;
  display: flex;
  flex-direction: column;
}

.header-title div {
  text-align: center;
}

.header-title .header-p {
  color: #305f81;
  margin: 0;
}

.header-title div h1 {
  color: #20375e;
  font-size: 50px;
  margin: 0;
}

.margin-p {
  color: #305f81;
  margin-bottom: 1px;
}

.more-info {
  text-align: center;
}

.info {
  align-items: flex-start;
  color: #5786d6;
  display: flex;
  font-size: 24px;
  justify-content: center;
  height: 100px;
}

.input {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.input p {
  margin: 0;
}

.input input {
  margin-bottom: 25px;
}

.img-title {
  color: #2a5472;
}

.img-desc {
  color: #305f81;
}

.margin-bottom {
  margin-bottom: 0px;
}

.small {
  display: none;
}

.title {
  margin: 0;
}

.title-info {
  align-items: center;
  color: #5583d1;
  display: flex;
  font-size: 30px;
  font-weight: bold;
  flex-direction: column;
  height: 300px;
  justify-content: center;
}

.token {
  color: #5583d1;
  height: 200px;
  text-align: center;
}

.token img {
  margin-top: 50px;
}


@media screen and (max-width: 1024px) {
  .bottom-bg {
    flex-wrap: wrap;
  }
  .small {
    display: flex;
  }
  .full {
    display: none;
  }
}
