html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}


nav {
  height: 54px;
  width: 90%;
}

nav ul {
  align-items: flex-end;
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  height: 54px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: #2f6184;
  margin: 0 10px;
  text-decoration: none;
}

section p {
  color: #305f81;
  font: 300 20px/1.5 'Roboto', sans-serif;
}

.about-fruit {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.about-fruit div {
  width: 180px;
}

.about-fruit h2 {
  color: #20375e;
  font-size: 18px;
}

.about-fruit img {
  border-radius: 30px;
}

.about-fruit p {
  font-size: 16px;
}

.about-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 250px;
}

.about-text > * {
  margin: 2px 0;
}

.about-text h1{
  color: #20375e;
  font-size: 50px;
}

.button {
  border-radius: 30px;
  border: 1px solid #2f6184;
  padding: 2px;
}

.contact {
  align-items: center;
  background-color: #2b1c42;
  color: #5583d1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contact .contact-special {
  margin-top: 20px;
}

.contact .contact-submit {
  align-items: center;
  background-color: #fff;
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.contact .contact-submit input {
  border: none;
  height: 50px;
}

.contact .contact-submit p {
  background-color: #5583d1;
  border-radius: 45px;
  font-size: 30px;
  height: 50px;
  margin: 0;
  width: 50px;
}

.contact h3 {
  font-size: 50px;
  margin-top: 80px;
  width: 70%;
  margin-bottom: 0;
}

.contact p {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 30px;
  margin-top: 5px;
}

footer .footer-p {
  font-style: normal;
  color: #5583d1;
}

.display {
  background-color: #012359;
  display: none;
  height: 100%;
  font-size: 40px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#close {
  align-self: flex-end;
}

#close p {
  margin: 0;
}

#small {
  margin: 0;
  margin-left: 97%;
}

.bottom-bg {
  align-items: center;
  background-color: #2b1c42;
  color: #5583d1;
  display: flex;
  height: 500px;
  justify-content: center;
}

.bottom-bg img {
  margin-right: 30px;
}

.bottom-bg .first {
  font-size: 22px;
  margin-top: 120px;
  margin-left: 10%;
  margin-right: 10%
}

.bg-img {
  height: 660px;
  width: 100%;
}

.bg-info {
  align-items: center;
  display: flex;
  color: #305f81;
  flex-direction: column;
  font-size: 21px;
  justify-content: center;
  margin: 10% 20%;
  text-align: center;
}

.bg-info h3, .process h3, .rev h3 {
  color: #5583d1;
}

.display-health-food {
  color: #5786d6;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.display-health-food div {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.display-health-food .margin-top p, .margin-top {
  margin-top: 0;
}

.display-health-food div div {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.header-play {
  align-items: center;
  border: 1px solid;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 50px;
}

.header-title {
  align-items: center;
  color: #5583d1;
  display: flex;
  flex-direction: column;
}

.header-title div {
  text-align: center;
}

.header-title .header-p {
  margin: 0;
}

.header-title div h1 {
  color: #20375e;
  font-size: 50px;
  margin: 0;
}

.margin-p {
  margin-bottom: 1px;
}

.more-info {
  text-align: center;
}

.info {
  align-items: flex-start;
  color: #5786d6;
  display: flex;
  font-size: 24px;
  justify-content: center;
  height: 100px;
}

.input {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.input p {
  margin: 0;
}

.input input {
  margin-bottom: 25px;
}

.img-title {
  color: #2a5472;
}

.margin-bottom {
  margin-bottom: 0px;
}

.praise {
  align-items: center;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  text-align: left;
}

.praise p {
  width: 50%;
}

.process {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.process-container {
  text-align: center;
  margin-top: 10%;
}

.process-container h2 {
  margin-top: 0;
  color: #5786d6;
}

.process-details {
  align-items: center;
  border: 1px solid #5786d6;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 30px 0px;
  width: 350px;
}

.process-details h3 {
  margin-bottom: 0;
}

.rev {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  margin-bottom: 30px;
  text-align: center;
}

.rev section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.rev h3 {
  font-size: 30px;
}

.rev p {
  margin: 0 10px;
}

.small {
  display: none;
}

.social ul {
  list-style-type: none;
  margin: 24px 0;
  padding: 0;
}

.title {
  margin: 0;
}

.title-info {
  align-items: center;
  color: #5583d1;
  display: flex;
  font-size: 30px;
  font-weight: bold;
  flex-direction: column;
  height: 300px;
  justify-content: center;
}

.token {
  color: #5583d1;
  height: 200px;
  text-align: center;
}

.token img {
  margin-top: 50px;
}


@media screen and (max-width: 1024px) {
  .about-fruit div {
    margin: 0;
    padding: 0;
  }
  .about-fruit img {
    flex: 1;
  }
  .bottom-bg {
    flex-wrap: wrap;
  }
  .small {
    display: flex;
  }
  .full {
    display: none;
  }
  .praise img {
    width: 100%;
    height: 100%;
  }
  .process-details {
    margin: 0;
    padding: 0px;
  }
}
