<nav>
  <ul class="full">
    <li><a href="{{site.baseurl}}/index.html">Home</a></li>
    <li><a href="{{site.baseurl}}/blog.html">Blog</a></li>
    <li><a href="https://github.com/colorlessenergy">Github</a></li>
    <li class="button"><a href="https://github.com/colorlessenergy?tab=repositories">Updates</a></li>
  </ul>
  <img class="small" id="small" src="img/icon-menu.svg" alt="icon burger">
        <ul class="display" id="displayN">
          <li id="close"><img class="small" src="img/icon-menu.svg" alt="icon burger"></li>
          <li><h3 class="title">FRUITS</h3></li>
          <li><a href="{{site.baseurl}}/blog.html">BLOG</a></li>
          <li><a href="https://github.com/colorlessenergy">GITHUB</a></li>
          <li><a href="https://github.com/colorlessenergy?tab=repositories">UPDATES</a></li>
          <div class="input">
            <p>Like to learn more!</p>
            <p>About Fruits!</p>
            <div class="contact-submit small-submit">
              <input class="small-input" type="text" placeholder=" please enter email">
              <p>➜</p>
            </div>
          </div>
        </ul>
</nav>
