<nav>
  <ul class="full">
    <li><a href="{{site.baseurl}}/index.html">Home</a></li>
    <li><a href="{{site.baseurl}}/blog.html">Blog</a></li>
    <li><a href="https://github.com/colorlessenergy">Github</a></li>
    <li class="button"><a href="https://github.com/colorlessenergy?tab=repositories">Updates</a></li>
  </ul>
    <p class="small" id="small">click</p>
        <ul class="display" id="displayN">
          <li id="close"><p class="small">click</p></li>
          <li><h3 class="title">FRUITS</h3></li>
          <li><a href="{{site.baseurl}}/blog.html">BLOG</a></li>
          <li><a href="https://github.com/colorlessenergy">GITHUB</a></li>
          <li><a href="https://github.com/colorlessenergy?tab=repositories">UPDATES</a></li>
          <div class="input">
            <p>i like to learn more</p>
            <p>about Fruits</p>
            <input type="text" placeholder="insert email here">
          </div>
        </ul>
</nav>
